
body {
 background-image: url("./assets/unitEditBG.png");
 background-attachment: fixed;
 background-repeat: repeat-x;
 background-position: center;
 background-size: cover;


}


.divider{
    width:7px;
    height:90px;
   display: inline-block;
}



#clear {
	left: 50px;
	position: fixed;
}

#go {
	right: 50px;
	position: fixed;
}

#portraitBox img {
	width:  90px;
	height: 90px;
	vertical-align: middle;
	padding: 7px;
}

#portraitBox{

	vertical-align: middle;
	margin-top: 20px;

}

#selector {
	background-image: url("./assets/selectionBar.png");
	width:  1126px;
	height: 130px;
	position: fixed;
	text-align: center;
	bottom: 0;
	background-position: center;
	background-size: 1126px 130px;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	margin-left: -563px; /* Half of the width */
}

a {
	text-decoration: none;
	display: inline-block;
}

button {
	background-color: transparent;
	border: none;
	display:inline-block;
	padding: none;
}

button img{
	padding: none;

}

#main {
	text-align: center;
}

#main button  {


	display:inline-block;
	padding: 4px;

}

#main button img {
	height: 90px;
	width: 90px;
	
	
}

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

		html, body, {
			min-width: 320px;
		}
		.icons{
			margin-top: -5px;
		}

}

.icons{
	text-align: center;
	background-image: url("./assets/Catalog_Middle_Frame.png");
	background-repeat: repeat-y;
	position: relative;
	margin-top: -4px;
	width: 1126px;
	height: auto;
	margin-left: auto; 
	margin-right: auto;

}

.topframe{
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	z-index: 1;
	width: 1126px;
	margin: auto;
}

.buttonBox{
	z-index: 2;
	text-align: center;
	width: 1126px;
	margin: -180px auto;
	height: 151px;
	position: absolute;
}

.buttonBox button{
	padding: 2px 30px;
}

.buttonBox button img{
	height: 50px;
	width: auto;
}

.bottomframe{
	background-position: top
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
}

.backButton{
	z-index: 2;
	text-align: center;
	width: 1126px;
	margin: -150px auto;
	position: relative;
}

.backButton a {
	display: inline-block;
	text-align: center;
	padding: 0px;

}

.back img{
	height: 100px;
	width: auto;
}

.back {
	text-align: center;
	display: inline-block;
}
